@font-face {
  font-family: "iconfont"; /* Project id 4833629 */
  src:
       url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAABHkAAsAAAAAGkgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADsAAABUIIslek9TLzIAAAFEAAAARAAAAGA8GEyUY21hcAAAAYgAAAEDAAAC+oyGZ6ZnbHlmAAACjAAADMEAABGgfxuw/mhlYWQAAA9QAAAALwAAADYuYTfFaGhlYQAAD4AAAAAdAAAAJAisBZZobXR4AAAPoAAAABEAAABUVgAAAGxvY2EAAA+0AAAALAAAACwmSCnubWF4cAAAD+AAAAAfAAAAIAEtANhuYW1lAAAQAAAAAUAAAAJnEKM8sHBvc3QAABFAAAAApAAAANeMIyy2eJxjYGRgYOBiMGCwY2BycfMJYeDLSSzJY5BiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiBmg4gCACY7BUgAeJxjYGGRYJzAwMrAwNTJdIaBgaEfQjO+ZjBi5ACKMrAyM2AFAWmuKQwHnjG/XMPc8L+BgYH5DgOQZGBEUcQEAH8sDSp4nN2SS04CQRCGv3bGGR8oihzABTHBuCdBEhISEs7BHbgAN+ACnIA9V/AkRbGXjRv8eyomRha6tjpfp7tS/aj6CzgHCvEiSkgfJLK9y5saf8FV4y95077Ho1alFVZb3+a2sKVt7bBb+8BHPvaJT33mq/3meARFVSdRw59Rv1rSqz2eTsbztwG3tLnhji4PnHFPRc2Ffn+p/5dcK9OWburouuoPb/53a+Upfe26WatAdcSqQBXF6kC1xfqBqozNg+bsIlDlsWUgDbBtIDWwQyBd2K0DKYQPAmmFD4Pckf4aSD98FORO9HGQu9UngdTFp0HuaJ8FOUtfBTnZ/Sag8wmJlmrrAHicdVdpjBzHde6qPmr6qr6759i5ume6d2dnd3amZ3p2l8vZJc1d2Vrz0mGBImWLpiIxOhLZkiMTlCLCRuIkCmFLJiIgiBOBgJw4gWMHDEDIAhybORwgiCEnkIwAtqwgiH45CaBAORCwmVczSyoM4Ondqlf1Xl3v+F4VRzn48afwj7gCZ3FlLuK63IibcHdwx7gT3Ce5x7inuec4rj3IhnEouT7x96hbRHSTSH42Mf7ZRMCIZbRH3Oq5jYX/C/Hs93GeiCIRzwsqISr5vEgVhSpPEUvTLP2jBY9SnwZy0bKKdkuZc90594RaD/yG/5weFYtR6SKNK+Wk8nmjU6t1amfM5UZjuZFa/SjqR3/NCxgL/FkssiX2CQW1UFBFlaoqXSO6Tan9cMH0DcN/TnZKjlM6r3hVz6t+Qg2axWJzRS+3y+W2ZlTnq6g2/xGz0a3Xu89aUS8Me7/jtNM2ilNOm+r60/g9qHSOchUu4z7KHebu505yZ7mL3Nc4DkVuDQ0mCI4dUhTc1kJhD0lRuIyHEzyoYc8lEgl8ipIgibPxBI1mYjAkHYyz8W1jyW0tMYw3UZzEo+F4OlXgSkkcAcMDnUtRnBBpTMZZHYHEBKeDYBnPuH5QQ+hkXw/KAaVQ6D+a0vq0QFsF8kBQ7J/YieOdE2egKnkwStJPrhBeJFE8OvHzJ0ajE8NSQNUlzQs8bVo81P2Azt/TTGwtlGqBf/zRp84e7yFPL1eHJ4aSYOmB/ynSVj6kGHDm7ftXTFP+0ENrB57Y6nUKIt7UZ9uAfekfkNf/XJgIzc27T9292YRqedSL504So/BkfV62pNJO0jva6x39+NFlkf+hurcHzdM+IN+ytV8Ml1Yn2aB3Z5J8+BMjagoEBvme7iFhV7i40VV5XlWWYQE8OLq8dnpt5WN10WamRlN7b+IGJ3KcjIiMEszl76dogiYpcpGa5t9Fm+lMDl/Cf8bkUCKjMcKXhvk1NBnm7+MX0vxafi1F6p7cX87kQIrN90D+/hBt5t8dogtsPibJ4em69+ErIKfCjCSApcVpiY0bN9L8b1GKzt+4Mcy/jwb4eehBAzRI92oYOh3/IP4LrgFYsAbRH/j7ULaJJ6iHWUAaKIkJRXUEReAH46wH1SYKXOhhzGUUJeI4IOgL5wqGaMo73zQl/ZKmGCZ55apBJRH3HhKwULB+nQitF3Xt+YL69EVdWD0taOIl9NLi5e4bLynY+uaO1FKf+XaBEiQ+3OdVySxcfYVYkoG/JRsvtbF0/GVVOb1K1ItPi5L6cPfy4k2dfwy/NT251fSaVmQ1R00Lt9FK/sad+RtoBb+5R9yJVj6w080xwcxSzAp8mObvoOYwfyf/SYoa+TspauI30/zt/G2gWF+IQOQnMFzc0/k/QWRbnMeVuCrM5TSdlKcoaoZxwgewkxT+27CpttccoXtqKKpt1/B8Jf9xZR7V/uHQte38C/iPr9+F3s3/FeX5/eir+b2VVquC/sjPv4O22P+vbV89dIjjhOl6T+B/4VxugVvijsNqA7CFz1BBChOI7iGAQBaErO0yDgOFbMg4vBeNHOhhEGIgqYqi0TDbBLdcRkwa2sOMCWPuzL139eF3171/dZM4c3zn0PzCwvyhncs3iYWN1WZxzlUD0d9Q9LbJ+3O0pJAN3fHqc/intw2fElu3DZ8S+d1bW2iTlKvtBgSvQN31Y9STS0rLBeyw9SKNO15ApD3fbIOtXPDOeXbqGqoihoOg5WW0CTA4QQ7DQoqriDQJqH6UuhLmVk+v7eh8xc3LboXXd9ZOfy8+cOxAfBBd/kElxr+a4Ld6x1fefNaIy+XYePbNleO9/NF351KYPp1795nfa1f4yvye3lm+tLkQ8uPvwg5iprRgCrvpBI2zaXCQSAJNgxbTgV9HyQgAugf6NQB3R8N4EYWgZpLETP/A96bhVIPtg6UAZ/ehQbYfZePAB7tkMcRuEjNLUjQ1VrKMIcxgSjZXD433jLsfpTOMHsA8LDY9ycfHe/vXo4YiHx+ZRFqcKKJo9MV6iW+OiWiZkVlbEn8ax46i7GgLVkdz6t5v+o3Ggr2g7SiqnSS2yjh2LLhq1f+iX9OcxFlQdqjyYLTe0OrUtalxrlEu1vTGWkQpNmi0Af2GYzZ+yTJKpZoWrUfU4GHH/91UjH5vMjzIK5PFanX9kWKjQNphWAm01tz+YMGHdc7Ber6mLDmNmrfk+IriPAtb8RcCtWOdg136vM4veTVgSjrjnnM6jvOIK8tGgZSNhYWGqTuAeI84pGosWBXiz3hmI+7QMtEd2TnjkDmtYzf2cLIPvjTmfoPjxv44YEmOGTIbD1JWs6waJ2MflAvWTMbDpD9LoV5f8gJpin9M88kQcinoH3xv6o/uLLhY2EFGJZBeJeYkzDaeC0kcJltEUhLCBNCA6GO2jBMWf1Bk/1YMkOO1tuYba46mOWuN+a2W6+JgSZF5hUbInDz2y49uGiiiKi8rc1ooYY0fnXzs5AjrCElNHZBellVDsgVFg/uM7U66c30qStgEJ6D9ue5+xy4IoiYLtmSqsixcLVhYa9jFed+k1PTni3ZDw5ZRKW5H3ZjUKluPb24+vlWpkbgbbRcrL86HkiyKgStK/PhUlp0a86LoBaIoS+F8tVKOeMEhuGCZxOQLrubVqS4gJOi07mlugbck0ypg4gh8NOI46VZMzcHtc4P7MKDZvZB1kmyQjaxhDIENweIScPYsbQ58z3IlZLk+0Lf47Vk3Q1roytIA5GbNYQbXnSxlTRGQlxfreqtUsvPDdkmvpy10pZWm13+/ZKMr9l43ehu6WvlhVvpIlDVNzv9H1nX0JU3XNSDyHpav/+f5un5zlGDrdeHmIHSFTbLH2r45EVvnPt3W4a/r+1AudqfpfC/3/JBbZZmWecMw28cuZ9HsLgeumMG5B1N/+r/InjK4n3JAN1LEZy/ojqOvJuv7t3cv7O5e+K0L7diuOL2lI0e/dfTIUo8RD9yze8cKdDo6+keosnpj9/mXn9/dnRzYpY5DTx07zOQOH3uNEUl8cJ1NeYHaN3PkIfwf3OfAMmEM4ASOOs5mHwsS1kqmrh6yIgHnJ7MbJXwQFNPE4kpsKGMDbMVTjwfPn4UJ+8YQRtOLaTaOp+nLD7JgVvuExQ7oYHpefJ5aYpkIIu8Nmwt+ybElnteVel82V86umFq3peiSZjslr9NMZSrwom9VrE6zElBHVESZaIaIi6pnK46hGJCo5CPdNd+z5wRqFReys2eGCyWbCgH1gklnV7a6Fv1ss8wuH0Q07HbnULnvErMQJVJYECkVC02SREHB7ZcPddq2IWqOJfjhZ6ll0SFRC55aEnWxgGFJjQrEkH1X0QUInkbRXNn/ZLhV2tpHRUGUm0HQlIGgGxulrfAzk0V7rv4Zau35yXn8d1yTO8RyThQSNEP4Oq4xFGKYzxIIZCAni3mWWODBEIdQRwycxtP0Lko9hLIAfIfwD3p1g15/UQXIMLTLK2LFlkjZ2XjKWnR00+PPCPqLWNYERbwoUvEezEtfvk+Au5GQ/7Nc+Br+pMDLoszj130xf0909aLu8dmrdgni3F49qYuKJFctlLvx9R8oADzCk6J4BP9KQXzhI4IKirgiCOtIRjDf9Fkk7b2NXuUOcl/kXuH+hPs29zdwToP5Dekz15+RUnXqLnUEL8hxwHyEpfxbDtVD/WkJkkxFjIJbKTyUQJAFzJihebByy+Mok0xmbtxPbkVYSqZcwhx0jwtfH65T09vULCwhDaP0/3eQwfQOFrI32TRGZw0wAPoDr9ysdmpIIaKMQMWywteObCRmO/2FtG0mG0dqvCKz9CWLREGLm3V4gYh8GDZaAK6LGG1057rbS0eWtqHe4Lc7SCUGpQUFaYuleqhrStlTxUg1/e0/3fZNHUemV1ZVPayXFjWkFKhmERV1fs4oy/B0KlfLsmXJ5T+ks7o66/0ezxPCSwJBkvA6L0iSILEO/Cq84FSriGRd9oSl3vragTGRRq0qQgdU9QBC1dZIIuMDa+u9JcErUBmFtoL5hkFFkRp6hxcxnetWdFnWK905qughtq32ynC03neaGpV8Ad7aRJyXVbleh2Jeo6oo+BLVmk5/PUsXO5aNw68amr/f1yidVsbtrZEolyAlKUUoblHsvnjjO8L3+YOcDLlllb2GkoDUIU4Sx/cIGA4cC8ODMu5hloihnxkO3CvzHbiQAQfCZoJ449LXV5+8+sj6N758hyJ9xZQ02Xx9g7QcU3nimltVntmQHMc0r37FnL8fhSpy62r+Nqvwjx+bfONL6OWvp48jkZrXPq0tmLqYvQaAJemvoKpnab/9mtOCwDzwKY1c//v835W6j1Wks4r7X9F3lmkAAAB4nGNgZGBgAOLXandT4/ltvjJwszCAwFPLn48R9P8DLOeYnYBcDgYmkCgAZZcM2AB4nGNgZGBgbvjfwBDDxgACLOcYGBlQgSgAVpkDTgAAAHicY2FgYGChImYDYgAOzABXAAAAAAAAAAC2Aa4BwgHWAeoCCgJoAoICpALcA1gDmAR+BUIFwAYUBtQHRAhwCNB4nGNgZGBgEGU4w8DHAAJMQMwFhAwM/8F8BgAfrwIGAHichZE9bsJAEIWfwZAElChKpDRpVikoEsn8lEipUKCnoAez5ke211ovSNQ5TY6QE+QI6Whzikh52EMDRbza2W/evpkdyQDusIeH8rvnLtnDJbOSK7jAo3CV+pOwT34WrqGJnnCd+qtwAy94E26yY8YOnn/FrIV3YQ+3+BCu4AafwlXqX8I++Vu4hgf8CNep/wo3MPGuhZtoeeHA6qnTczXbqVVo0sik7niO9WITT+2pPNE2X5lUdYPOURrpVNtjm3y76DkXqciaRA15q+PYqMyatQ5dsHQu67fbkehBaBIMYKExhWOcQ2GGHeMKIQxSREV0Z/mY7gU2iFlp/3VP6LbIqR9yhS4CdM5cI7rSwnk6TY4tX+tRdXQrbsuahDSUWs1JYrLiDzzcramE1AMsi6oMfbS5ohN/UMyQ/AHYk29XeJxty0sOwiAYRWFupbT1/d6PcWBcBsIvYChUwGhcvSZO/YYnOaxiP2P23w4VRuCoIdCgRYcxJphihjkWWGKFNTbYYoc9a3yU2gUjnuReLnAdn4F7upY6OWNLq6L3csjED+fTcSS1rpWPmYQmT4W4JT+IRL0LWmRLb+uq+70ZUryRKl2iKyUKioRxxT4ubfleJsm+0S6rmHTXx/ztMhjGPr8cMW4=') format('woff');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\e891";
}

.icon-weixin:before {
  content: "\e682";
}

.icon-down:before {
  content: "\e83a";
}

.icon-left:before {
  content: "\e83f";
}

.icon-right:before {
  content: "\e845";
}

.icon-collapse:before {
  content: "\e6f5";
}

.icon-AIGC:before {
  content: "\e79e";
}

.icon-add:before {
  content: "\e837";
}

.icon-close:before {
  content: "\e83b";
}

.icon-delete:before {
  content: "\e83c";
}

.icon-help:before {
  content: "\e842";
}

.icon-remind:before {
  content: "\e848";
}

.icon-shezhi:before {
  content: "\e607";
}

.icon-qq:before {
  content: "\e603";
}

.icon-project:before {
  content: "\e606";
}

.icon-reference:before {
  content: "\e629";
}

.icon-github:before {
  content: "\e6b7";
}

.icon-telegram:before {
  content: "\e9ac";
}

.icon-discord:before {
  content: "\e675";
}

.icon-moshubang:before {
  content: "\e662";
}
